<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    <!-- main.html is the parent  -->
    {% extends 'main.html' %}

    <!-- specifying where this content goes in the main.html template??? -->
    {% block content%}

      <p>Hello you are on the {{ page }} page</p>

      <!-- # testing out if statement -->
      {% if number > 10 %}
        <p>Number is greater than 10</p>
      {% elif number == 10 %}
        <p>Number is exactly 10</p>
      {% else %}
        <p>Number is less than 10</p>

      {% endif %}

      <hr />
      <h1>Projects</h1>
      <ul>
        <!-- note: projects is a key in context dictionary
        it refers to projectList list
        it is located in view.py -->
        {% for project in projects %}

        <!-- /project/{{ project.id }}
        the code above is refferring to 
        path('project/<str:pk>/', views.project, name="project"),
        this line of code above
        where
        project = project 
        {{ project.id }} = str.pk -->
        
        <li>Title: <a href="/project/{{ project.id }}">{{ project.title }}</a> --- {{ project.description }}</li>
        {% endfor %}
      </ul>
    {% endblock content%}
  </body>
</html>
