<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
  </head>
  <body>
    <!-- main.html is the parent  -->
    {% extends 'main.html' %}

    <!-- specifying where this content goes in the main.html template??? -->
    {% block content%}

    <p>Hello you are on the {{ page }} page</p>

    <h1>Projects here</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, ducimus
      incidunt? Sequi, magni tempora assumenda qui id molestias dolor voluptas,
      eos esse facilis perspiciatis dignissimos laboriosam cumque animi nulla
      est minima delectus quo minus enim. Adipisci laborum maiores iusto animi
      esse cumque ipsa placeat cupiditate. Soluta quos sed nesciunt tempore,
      corporis, culpa voluptates numquam nam inventore quam asperiores nisi
      fugiat?
    </p>
    {% endblock content%}
  </body>
</html>
